<div class="badge badge-info text-center" style="margin: 5px;">
    {{contacts.length}} of {{totalResult}}
    <span *ngIf="contacts.length == totalResult">No more result</span>
</div>
<br>
<div id="search">
    <input type="text"
           (input) = "search()"
           [(ngModel)] = "term"
           id="searchfield"
           placeholder="Search contacts..."
    />
</div>
<div id="friends" style="width: 100%;height: 400px; float: left; overflow: auto;" (scroll)="onScroll($event)">

    <div style="overflow: auto" >
        <div class="friend"
             (click)="toggleDetail(contact)"
             *ngFor="let contact of contacts">
            <div class="media">
                <img class="mr3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg"/>

                <div class="media-body">
                    <h5 class="mt-0">{{contact.id}}: {{contact.name}}</h5>
                    <span *ngIf="contact.numbers.length" class="pull-right">{{contact.numbers.length}}</span>
                    <button type="button" (click)="deleteContact(contact)">-</button>
                    <a [routerLink]="['contact/'+contact.id+'/number/add']"> addNumber</a>
                    <a [routerLink]="['contact/'+contact.id+'/edit']">edit</a>                </div>

                <div [@openClose]="contact.selected?'open':'closed'">
                    <div

                            class="tel"
                            *ngFor="let number of contact.numbers">
                        {{number.num}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isContactLoading">
            <spinner></spinner>
        </div>
    </div>




</div>
